<% if  current_user %>
  <%# At line 3 instead of email access name %>
  <div class="flex flex-row justify-between">
   <p class="text-yellow-500 font-mono text-2xl font-extrabold leading-10 ml-1.5 capitalize"><%= current_user.email%></p>
   <span class="px-4 py-3 bg-yellow-400 rounded-full font-medium hover:bg-yellow-600"><%= link_to "Sign Out", sign_out_path %></span>
  </div>
<% else %>
  <%= link_to "Sign In", sign_in_path %>
<% end %>
<%=link_to "See Your Search History",history_path%>
  <%=link_to "See Analytics",analytics_path%>
<h1  class="text-center text-4xl text-yellow-500 font-medium m-10">Hey there anonymous user sign in to manage your analytics</h1>
<div class="search-field"><%= form_with(url: search_path, method: :get, data: {controller: "search-form",search_form_target:"form",turbo_frame: "articles"}) do |form| %>
    <h1 class="text-white text-4xl text-center p-7"><%= form.label :query, "Movies Engine" %></h1>
    <div class="flex flex-row space-x-3 justify-center mt-10">
      <div><%= form.text_field :search, class: "py-3 px-4 rounded-full border ring-0 focus:ring-4 focus:ring-yellow-100 focus:shadow-none focus:border-yellow-400 focus:outline-none w-96" ,data: {action: "input->search-form#search"} ,value: params[:search] %></div>
      <div><%= form.submit 'Search', class: "px-8 py-3 font-medium bg-yellow-400 rounded-full cursor-pointer hover:bg-yellow-600 focus:ring-4 ring-0 focus:ring-yellow-100" %></div>
    </div>
    <% end %>
     <%= turbo_frame_tag "articles" do %>  
        <div class="search"><%= render partial: 'search_result', collection: @results, as: :result %></div> 
     <%end  %> 
      <p class="text-center text-yellow-500 font-medium m-10">Hey there anonymous user sign in to manage your analytics</p>
 <div class="trend">
 <h2>Trending Searches</h2>
    <%@most_searched.each do |search| %>
      <div><%= search[:name] %></div>
    <% end %>
    </div>

 